<%= include('header', {page: 'examples'}) %>

<div class="row header fire-gradient getting-started">
    <div class="col-md-10 col-md-offset-1">
        <h1>Examples</h1>
        <p>A list of projects created for you to highlight some of Node on Fire's features.</p>
    </div>
</div>

<%= include('mailing') %>

<div class="row desc">
    <div class="col-md-10 col-md-offset-1">
        <h3>Real-Time Chat</h3>
        <p>Create a real-time stream on your models. The examples shows how to build a simple but real-time chat app. <a href="https://github.com/martijndeh/fire/tree/develop/examples/chatbox">View example.</a></p>
        
        <h3>TodoMVC</h3>
        <p>The mandatory todo-app example. Shows you how a complete Node on Fire app is structured. Includes models and migrations. <a href="https://github.com/martijndeh/fire/tree/develop/examples/todo-mvc">View example.</a></p>

        <h3>A/B Test</h3>
        <p>Create an A/B test, participate the user and use the variant to display different results in your controllers. <a href="https://github.com/martijndeh/fire/tree/develop/examples/test">View example.</a></p>

        <h3>Multiple Apps</h3>
        <p>Create multiple apps in your project which also use shared models. <a href="https://github.com/martijndeh/fire/tree/develop/examples/multiple-apps">View example.</a></p>

        <h3>Isomorphic Services</h3>
        <p>Create an ismorphic service. A service which is available in both the front-end and the back-end. <a href="https://github.com/martijndeh/fire/tree/develop/examples/multiple-apps">View example.</a></p>

        <h3>Search</h3>
        <p>Create a full-text search on your models. <a href="https://github.com/martijndeh/fire/tree/develop/examples/search">View example.</a></p>
    </div>
</div>

<%= include('footer') %>
