doctype html
html(ng-app=_fire.appName id="ng-app" xmlns:ng="http://angularjs.org")
	head
		meta(charset="utf-8")
		meta(name="fragment" content="!")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= _fire.title
		script(src="/bower_components/angular/angular.min.js")
		script(src="/bower_components/angular-route/angular-route.min.js")
		script(src="/scripts/fire.min.js")
		for style in styles
			link(rel="stylesheet" type="text/css" href=style)
		for script in scripts
			script(type="text/javascript" src=script)
	body
		div(ng-view)
