<%= include('header', {page: 'examples'}) %>

<!--div class="row header fire-gradient getting-started">
    <div class="col-md-10 col-md-offset-1">
        <h1>Real-Time Chat</h1>
        <p>A list of projects created for you to highlight some of Node on Fire's features.</p>
    </div>
</div-->

<%= include('mailing') %>

<div class="row desc">
    <div class="col-md-10 col-md-offset-1">
        <h1>Real-Time Chat: web sockets and PostgreSQL's LISTEN and NOTIFY</h1>

        <p>Let's build a chat app in Node on Fire. We'll use native web sockets, PostgreSQL, and it's listen and notify functionality to push messages to the clients.</p>

        <h2>Real-Time Chat</h2>
        <h3>Real-Time Chat</h3>
        <p>Lorem ipsum and some more.</p>

        <h4>Real-Time Chat</h4>
        <p>Lorem ipsum and some more.</p>
    </div>
</div>

<%= include('footer') %>
