<div class="row mailing">
    <div class="col-md-6 col-md-offset-3">
        <div id="mc_embed_signup">
            <form action="//ff00ff.us9.list-manage.com/subscribe/post?u=695bb623f0e64230b0de02e66&amp;id=e8ee6483bb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                        <span>Subscribe to our list to receive the latest updates on Node on Fire</span>
                        <input placeholder="you@domain.com" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"/>
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"/>
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_695bb623f0e64230b0de02e66_e8ee6483bb" tabindex="-1" value=""></div>
                </div>
            </form>
        </div>
    </div>
</div>
