h1 Search cities
p Search through all cities in the United States.
form(ng-submit="searchCities(query)")
    input(type="text" ng-model="query" placeholder="Search city...")
    button(type="submit") Search
        
ul
    li(ng-repeat="city in cities") {{city.name}}

p(ng-if="errorMessage && !cities.length") {{errorMessage}}
