div.list(ng-controller="NewsController")
	header
		div.logo Hacker News
		div.menu
			a(href="/submit") Submit
			a(href="#") Hi {{user.name}}
		div.clear

	ul
		li.article(ng-repeat="article in articles | orderBy: 'position':true")
			div.line1
				div.index {{$index + 1}}.
				div.vote(ng-click="voteArticle(article)")
				div.title
					a(ng-href="{{article.url}}") {{article.title}}
					span  ({{article.url}})
			div.line2
				div.subtext
					p {{article.votes}} votes by {{article.author.name}} at {{article.createdAt | date:'mediumTime'}}
			div.clear

	p.footer Hacker News-esque example in Node on Fire, see
		a(href="https://github.com/martijndeh/fire") https://github.com/martijndeh/fire
