div(ng-controller="NewsController")
	header(style="background:#ff6600")
		p Hacker News

	form(ng-submit="createArticle(article)")
		input(type="text" ng-model="article.title" placeholder="Title")
		input(type="text" ng-model="article.url" placeholder="URL")
		input(type="submit" value="Submit")

	ul
		li(ng-repeat="article in articles | orderBy: 'votes':true" ng-href="article.url" ng-click="voteArticle(article)")
			h1 {{article.title}}
			p {{article.url}}
			div {{article.votes}}
