div(ng-controller="LoginController")
    form(ng-submit="loginUser(user)")
        h1 Login

        input(type="text" ng-model="user.name")
        input(type="password" ng-model="user.password")

        input(type="submit" value="Login")

    form(ng-submit="createUser(newUser)")
        h1 Create account

        input(type="text" ng-model="newUser.name")
        input(type="password" ng-model="newUser.password")

        input(type="submit" value="Create")
