div(ng-controller="SubmitController")
    input(type="text" ng-model="article.title" placeholder="Title")
    input(type="text" ng-model="article.url" placeholder="URL")
    button(ng-click="submitArticle(article)") Submit
