body {
	padding-top:50px;
}
.header {
	background: #b63c12;
	background: -moz-linear-gradient(-45deg,  #b63c12 0%, #e19428 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b63c12), color-stop(100%,#e19428));
	background: -webkit-linear-gradient(-45deg,  #b63c12 0%,#e19428 100%);
	background: -o-linear-gradient(-45deg,  #b63c12 0%,#e19428 100%);
	background: -ms-linear-gradient(-45deg,  #b63c12 0%,#e19428 100%);
	background: linear-gradient(135deg,  #b63c12 0%,#e19428 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b63c12', endColorstr='#e19428',GradientType=1 );
}
h3 {
	font-weight:200;
}
.getting-started p:last-child {
	margin-bottom:30px;
}
.header h1 {
	color:#fff;
	font-weight:100;
	margin-top:50px;
}
.header .logo {
	margin-top:150px;
	margin-bottom:150px;
	text-align:center;
}
.header .logo span {
	margin-left:20px;
	vertical-align:middle;
}
.header span.h1 {
	color:#fff;
	font-weight:100;
	font-size:4em;
	font-family:'Helvetica Neue';
}
.header p {
	font-family:Georgia;
	color:rgba(0,0,0,0.25);
	font-style:italic;
	font-size:1.25em;
	line-height:1.75em;
}
.index.header p {
	text-align:center;
}
h1, h2 {
	font-weight:200;
}
.footer p {
	margin-top:50px;
	margin-bottom:50px;
}
.pitch p, .footer p, p.expl {
	text-align:center;
	color:#8a9199;
	font-size:1.25em;
	line-height:1.75em;
}
.pitch p {
	margin-bottom:100px;
}
.pitch h1 {
	margin-top:100px;
	text-align:center;
	font-size:3em;
}
.pitch h2 {
	text-align:center;
}
.desc p {
	line-height:1.75em;
	font-size:1.2em;
}
.navbar {
	background:#fff;
}
.navbar ul.nav li.active {
	background:rgb(163, 77, 7) !important;
}
@media(max-width:991px){
	.navbar-fixed-top {
		position:static;
		margin-bottom:0;
	}
	body {
		padding-top:0;
	}
	.logo span.h1 {
		font-size:3em;
	}
	#toc.affix {
		position: static;
		width: auto;
		top: 0;
	}
}
.navbar {
	background:#fff;
}
.nav .toc-h1 {
	margin-top:20px;
}
.nav .toc-h1 a {
	color:rgb(51, 51, 51);
	font-weight:600;
	display:inline;
}
.nav .toc-h3 {
	margin-top:10px;
}
.nav .toc-h3 a {
	color:rgb(51, 51, 51);
	font-weight:500;
	display:inline;
}
.nav .toc-h3 a:hover, .nav .toc-h1 a:hover {
	background:none;
}
.label.label-primary a {
	color:#fff;
}
span.type-signature {
	/* I really dislike this bit */
	display:none;
}
.disqus-expl {
	margin-top:100px;
	margin-bottom:150px;
}
div.row pre.prettyprint {
	border-radius:5px;
	padding:10px;
	border:1px solid rgba(0, 0, 0, 0.1);
	background:#fff;
	overflow:scroll;
	font-size:0.8em;
}
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color:#d9534f;
}
.bs-callout-danger h4 {
	color:#d9534f;
}
